@use "../custom" as *;
@use "../components/mixins" as *;
.intro {
  @include gradient;
  padding-top: 8rem;

  .intros {
    .video-box {
      position: relative;

      a {
        // @include absoluteCenter;
        i {
          font-size: 6rem;
          color: $secondary;
        }
      }
    }
  }
}

.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 6rem;
  width: 6rem;
  border: 0.5rem solid $white;
  border-radius: 6rem;
  animation: pulse 1s linear infinite;

  &-border--1 {
    animation-delay: 1s;
  }
  &-border--2 {
    animation-delay: 1.2s;
  }
}
